## Emacs Backup Files
*~
\#*\#

## Vim Temp Files
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Temporary directories
**/.dep/**
**/build/**
tools/gcc/gcc-arm-none-eabi-*
tools/emscripten/emsdk
.DS_Store
gcc_compiler/gcc-arm-none-eabi-5_4-2016q3
cmake-build-debug/
.idea
logue-cli/logue-cli-osx-0.07-2b
builds/nts-1/osc/*/*.ntkdigunit
builds/minilogue-xd/osc/*/*.mnlgxdunit
# Doxygen documentation
**/docs/html
**/docs/latex
**/docs/doxygen*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables/Binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.dfu

# Debug files
*.dSYM/
*.su

